<div	class="container	content">
  <div	class="row">
          <div	class="col-md-6	offset-md-3">
                  <span	class="anchor"	id="formLogin"></span>
                  <!-- form	card	login	with	validation	feedback	-->
                  <div	class="card	card-outline-secondary">
                          <div	class="card-header">
                                  <h3	class="mb-0">Receta</h3>
                          </div>
                          <div	class="card-body">
                                  <form>
                                      <div	class="form-group">
                                          <label	for="nombre">Nombre Ingrediente</label>
                                          <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar
nombre..." #nombre>
                                      </div>
                                      <div class="form-group">
                                          <label for="cantidad">Cantidad</label>
                                          <input type="text" class="form-control" id="cantidad" placeholder="Ingresar Cantidad..." #cantidad>
                                      </div>
                                      <div	class="form-group">
                                          <label	for="Imagen	Url">Imagen	Url</label>
                                          <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                                      </div>
                                      <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, cantidad.value, url.value)">Guardar!</button>
                                  </form>
                          </div>
                  </div>
          </div>
  </div>
  <hr	class="mb-5">
  <div	class="row row-flex">
          <app-ingrediente *ngFor="let d of ingredientes" [ingrediente]=d></app-ingrediente>
  </div>
</div>
